<!DOCTYPE html>

<html>
	<head>
		<title>Conversus | Choose your words wisely</title>

		<!-- FONTS 'N' STYLESHEET -->
		<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

		<link type="text/css" rel="stylesheet" href="../css/style.css" />

	</head>
	<body>
		<div id="landing">
			<div id="title">
				<h1>conversus</h1>
				<h2>choose your words wisely</h2>

				<button id="join">play</button>
			</div>
			<div id="how-to">
				<h1>how to play</h1>
				<h2>chat with a stranger</h2>
				<h2>guide them towards your passphrase</h2>
				<h2>avoid (or guess) their passphrase</h2>
				<h2>bask in glory, or retreat in shame</h2>
			</div>
		</div>

		<div id="waiting">
			<h2>just chill for a sec, we're finding you a partner</h2>
		</div>


		<div id="chat" class="hide">
			<ul id="chats"></ul>
			<input id="m" autocomplete="off" /><button id="send">send</button>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../js/chat.js"></script>

	</body>
</html>